@import '../../../style/variables.scss';

.starter-ug {
  width: 100%;
  padding: 5px 5px 20px 5px;
  &__header {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 5px;
    margin-bottom: 20px;
    &-icon {
      display: block;
      width: 40px;
      height: 40px;
      margin-right: 25px;
      background: url('../../../assets/icons/userGuide/book-bookmark-light.svg')
        left center / cover no-repeat;
    }
    &-title {
      position: relative;
      font-weight: 400;
      font-size: 20px;
      &::after {
        position: absolute;
        right: 0;
        bottom: -4px;
        content: '';
        width: 80%;
        height: 2px;
        background-color: rgba(51, 51, 51, 0.7);
      }
    }
  }
  &__text {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px;
    text-indent: 15px;
    &::first-letter {
      font-size: 22px;
      line-height: 20px;
      color: $error-message;
      margin-right: 1px;
    }
  }
}

.text-icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 3px;
  margin-left: 3px;
  &_menu {
    position: relative;
    top: 5px;
    width: 28px;
    height: 18px;
    margin-right: 5px;
    margin-left: 5px;
    background: url('../../../assets/icons/header/dots-three-outline.svg')
      center / cover no-repeat;
    background-color: #d4d4d4;
  }
}

@media (max-width: 320px) {
  .starter-ug {
    &__header {
      &-icon {
        margin-right: 20px;
        width: 35px;
        height: 35px;
      }
      &-title {
        font-size: 18px;
      }
    }
  }
}
