.buttons-block {
  width: 100%;
  padding: 20px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__btn {
    width: 40vw;
    height: 40px;
    display: inline-block;
    line-height: 40px;
    text-align: center;
    border: none;
    border-radius: 10px;
    background-color: #f2f2f2;
    box-shadow: -8px -8px 16px #d9d9d9, 8px 8px 16px #fff;
    transition: transform 0.2s;
    cursor: pointer;
    &:active {
      box-shadow: inset -6px -6px 12px #d9d9d9, inset 6px 6px 12px #fff;
    }
    &_disabled {
      opacity: 0.5;
    }
  }
}
