@import '../../../style/variables.scss';

.my-day-ug {
  width: 100%;
  padding: 5px;
  &__header {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 5px;
    margin-bottom: 20px;
    &-icon {
      display: block;
      width: 40px;
      height: 40px;
      margin-right: 25px;
      background: url('../../../assets/icons/userGuide/calendar.svg') left
        center / cover no-repeat;
    }
    &-title {
      position: relative;
      font-weight: 400;
      font-size: 20px;
      &::after {
        position: absolute;
        right: 0;
        bottom: -4px;
        content: '';
        width: 80%;
        height: 2px;
        background-color: rgba(51, 51, 51, 0.7);
      }
    }
  }
  &__subtitle {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 14px;
    text-align: right;
    background: url('../../../assets/icons/userGuide/today-outline.svg') left
      center / 25px 25px no-repeat;
  }
  &__text {
    font-size: 14px;
    line-height: 20px;
    text-indent: 15px;
    margin-bottom: 10px;
    &::first-letter {
      font-size: 22px;
      line-height: 20px;
      color: $error-message;
      margin-right: 1px;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__end-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    &-flower {
      display: block;
      width: 30px;
      height: 30px;
      background: url('../../../assets/icons/userGuide/flower.svg') center /
        30px 30px no-repeat;
    }
  }
}

.text-icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 3px;
  margin-left: 3px;
  &_edit {
    position: relative;
    top: 3px;
    width: 18px;
    height: 18px;
    margin-right: 5px;
    margin-left: 5px;
    background: url('../../../assets/icons/knowledgeBase/pencil-square-custom.svg')
      center / cover no-repeat;
  }
  &_add {
    position: relative;
    top: 2px;
    width: 18px;
    height: 16px;
    margin-right: 5px;
    margin-left: 5px;
    background: url('../../../assets/icons/myDay/food-item-add.svg') center /
      cover no-repeat;
  }
  &_select {
    position: relative;
    top: 2px;
    width: 18px;
    height: 16px;
    margin-right: 5px;
    margin-left: 5px;
    background: url('../../../assets/icons/myDay/food-plus.svg') center / cover
      no-repeat;
  }
  &_ok {
    position: relative;
    top: 2px;
    width: 25px;
    height: 16px;
    margin-right: 2px;
    margin-left: 2px;
    background: url('../../../assets/icons/myDay/ok-check-custom.svg') center /
      contain no-repeat;
  }
  &_weight {
    position: relative;
    top: 2px;
    width: 25px;
    height: 16px;
    margin-right: 5px;
    margin-left: 2px;
    background: url('../../../assets/icons/myDay/scales-2-line.svg') center /
      contain no-repeat;
  }
  &_calories {
    position: relative;
    top: 2px;
    width: 25px;
    height: 16px;
    margin-right: 0;
    margin-left: 2px;
    background: url('../../../assets/icons/myDay/lightning.svg') center /
      contain no-repeat;
  }
  &_price {
    position: relative;
    top: 2px;
    width: 25px;
    height: 16px;
    margin-right: 0;
    margin-left: 2px;
    background: url('../../../assets/icons/knowledgeBase/green-circle-dollar-custom.svg')
      center / contain no-repeat;
  }
  &_eraser {
    position: relative;
    top: 2px;
    width: 25px;
    height: 16px;
    margin-right: 0;
    margin-left: 2px;
    background: url('../../../assets/icons/myDay/eraser-clear.svg') center /
      contain no-repeat;
  }
  &_eraser-active {
    position: relative;
    top: 2px;
    width: 25px;
    height: 16px;
    margin-right: 0;
    margin-left: 2px;
    background: url('../../../assets/icons/myDay/eraser-clear.svg') center /
      contain no-repeat;
    filter: drop-shadow(2px 2px 8px #ffed66) drop-shadow(-2px -2px 8px #ffed66);
  }
  &_end {
    position: relative;
    top: 2px;
    width: 25px;
    height: 16px;
    margin-right: 0;
    margin-left: 2px;
    background: url('../../../assets/icons/myDay/end-custom.svg') center /
      contain no-repeat;
  }
  &_delete {
    position: relative;
    top: 2px;
    width: 25px;
    height: 16px;
    margin-right: 0;
    margin-left: 2px;
    background: url('../../../assets/icons/myDay/meal-delete.svg') center /
      contain no-repeat;
  }
}

@media (max-width: 320px) {
  .my-day-ug {
    &__header {
      &-icon {
        margin-right: 20px;
        width: 35px;
        height: 35px;
      }
      &-title {
        font-size: 18px;
      }
    }
  }
}
